@import './sass/common';

body {
  background-image: (url(./images/background.jpg));
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  max-width: 1920px;
}

.calendar {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: space-around;
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  margin-bottom: 50px;
}

.digital__clock {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  margin-bottom: 20px;
}

.clock__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.clock {
  background-image: url(./images/hiclipart-com-3.png);
  background-size: cover;
  width: 500px;
  height: 500px;
  position: relative;
}

.clock__arrow {
  position: absolute;
  background-color: black;
  transform-origin: bottom;
  transform: translateX(-50%);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.clock__center {
  position: absolute;
  bottom: 48%;
  left: 48%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.arrow__seconds {
  bottom: 50%;
  left: 50%;
  width: 4px;
  height: 39%;
}

.arrow__minutes {
  bottom: 50%;
  left: 50%;
  width: 6px;
  height: 39%;
}

.arrow__hours {
  bottom: 50%;
  left: 50%;
  width: 8px;
  height: 25%;
}
